@media screen and (max-width: 1320px){
  .footer{
    margin-top: 180px;
    .center{
      bottom: auto;
      top: - 156px;
    }
  }
}
@media screen and (max-width: 900px) {
  .footer{
    .flex-block{
      padding: 20px 0;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  .header{
    .logo{
      width: 100px;
      left: calc(50% - 50px);
    }
  }
  .footer{
    .flex-block{
      padding: 20px 0;
      flex-direction: column;
      >div{
        display: block;
        >div{
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 10px;
        }
        .soc-block{
          margin-left: 0;
        }
      }
    }
  }
  .main{
    padding-top: 100px;
  }
  #vopros {
    .vopros-content{
      display: block;
      .image-block{
        width: 100%;
      }
      .right-block{
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}